/* form Card */
.form-card {
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.form-group {
    margin-bottom:20px;
}

.form-label {
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

/* input */
.form-control {
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
    outline:none;
    transition:.3s;
}

.form-control:focus {
    border-color:#0d6efd;
    box-shadow:0 0 5px rgba(13,110,253,.3);
}

/* textarea */
textarea.form-control {
    resize:vertical;
    min-height:120px;
}

/* Select */
select.form-control {
    cursor:pointer;
}

/* validation errors */
.invalid-feedback {
    color:#dc3545;
    font-size:14px;
    margin-top:5px;
}

/* preview image */
.image-preview {
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:10px;
    margin-top:10px;
}



